@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.playerSelec img,
.computerSelec img{
    width: 100px;
    height: 100px;
    filter: invert();
}

.title{
    margin: 24px 0 0px;
    font-size: 24px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.gameBox{
    display: flex;
    flex-direction: column;
}

.resultsBox{
    text-align: center;
}

.results{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 40px 0 28px;
}

.resultOne{
    font-size: 32px;
}

.vs{
    font-size: 20px;
}

.resultTwo{
    font-size: 20px;
    margin-bottom: 54px;
}

.selectionImages{
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
}

#playerimg,
#computerimg{
    visibility: hidden;
}

.playerSelec,
.computerSelec{
    width: 100px;
    height: 100px;
}

.score{
    display: flex;
    justify-content: center;
    margin: 28px 0 65px;
    gap: 7em;
    font-size: 28px;
}

.optionBtn,
.optionsBtns{
    display: flex;
    gap: 7em;
    justify-content: center;

}

#rockdiv,
#paperdiv,
#scissorsdiv{
    display: flex;
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
}

#rockdiv img,
#paperdiv img,
#scissorsdiv img{
    width: 100px;
    height: 100px;
}




.git img{
    width: 40px;
    left: 10px;
    top: 10px;
    position: fixed;
    filter: invert();
}


