@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.playerSelec img,
.computerSelec img{
    width: 100px;
    height: 100px;
    filter: invert();
}

.title{
    margin: 24px 0 0px;
    font-size: 24px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.gameBox{
    display: flex;
    flex-direction: column;
}

.resultsBox{
    text-align: center;
}

.results{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 40px 0 28px;
}

.resultOne{
    font-size: 32px;
}

.vs{
    font-size: 20px;
}

.resultTwo{
    font-size: 20px;
    margin-bottom: 54px;
}

.selectionImages{
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
}

#playerimg,
#computerimg{
    visibility: hidden;
}

.playerSelec,
.computerSelec{
    width: 100px;
    height: 100px;
}

.score{
    display: flex;
    justify-content: center;
    margin: 28px 0 65px;
    gap: 7em;
    font-size: 28px;
}

.optionBtn:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

button{
    border: none;
    color: black;
    font-family: inherit;
    font-size: inherit; 
    cursor: pointer;
    outline: none;
}

.butn {
  border-radius: 10px;
  background-color: white;
}

.butn-square {
  width: 160px;
  height: 160px;
}

.butn:hover {
  background-color: rgb(218, 218, 218);
  transform: scale(0.9 , 0.9);
}

.butn:active {
  background-color: rgb(255, 255, 255);
}

.optionBtn,
.optionsBtns{
    display: flex;
    gap: 7em;
    justify-content: center;

}

#rockdiv,
#paperdiv,
#scissorsdiv{
    display: flex;
    background-color: white;
    width: 120px;
    height: 120px;
    border-radius: 32px;
    align-items: center;
    justify-content: center;
}

#rockdiv img,
#paperdiv img,
#scissorsdiv img{
    width: 100px;
    height: 100px;
}

.git img{
    width: 40px;
    left: 10px;
    top: 10px;
    position: fixed;
    filter: invert();
}

.modal{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

.modal-title{
    font-size: 40px;
    font-weight: bold;
}

.btn-restart {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
  }  

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.overlay.active{
    display: block;
}

@media (max-width: 550px){
    .git img{
        width: 26px;
    }

    .title {
        margin-top: 38px;
        font-size: 18px;
    }

    .optionsBtns{
        gap: 2em;
    }
}
